.coverage
MANIFEST
coverage.xml
nosetests.xml
junit-report.xml
pylint.txt
toy.py
tox.ini
violations.pyflakes.txt
cover/
build/
docs/_build
seleniumpm.egg-info/
*.pyc
*.swp
*.egg
*.html
env/
venv/

.workon
.idea/
.cache/
.DS_Store

t.py

t2.py
dist
